openapi: 3.1.0
servers:
  - url: https://easypay5.com
    description: Production server
info:
  title: EasyPay5 API
  version: 1.0.0
  description: API for Number's services

x-hideTryItPanel: true

components:
  parameters:
    SessKey:
      name: SessKey
      in: header
      required: true
      schema:
        type: string
        example: "A1842D663E9A4A72XXXXXXXX303541303234373138"
        description: >
          A unique session key used for authentication in API calls. 
          This key is generated upon successful authentication and must be included in all subsequent requests.

    ContentType:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        example: "application/json"

    Accept:
      name: Accept
      in: header
      required: true
      schema:
        type: string
        example: "application/json"

  schemas:
    AccountHolder:
      type: object
      properties:
        AccountNum:
          type: string
          example: "wj8HlAYlMJI=jvje9l7qZuEFiDDeEDDym6ZdlL0DX8HX"
          description: "The unique account number associated with the account holder."
        AcctMask:
          type: string
          example: "4111XXXXXXXX1111"
          description: "The masked version of the account number for security purposes."
        Address1:
          type: string
          example: "123 Fake St"
          description: "The primary address line of the account holder."
        Address2:
          type: string
          example: ""
          description: "The secondary address line of the account holder, if applicable."
        CardType:
          type: string
          example: "VI"
          description: "The type of card associated with the account (e.g., Visa, MasterCard)."
        City:
          type: string
          example: "PORTLAND"
          description: "The city where the account holder resides."
        Company:
          type: string
          example: ""
          description: "The name of the company associated with the account holder, if applicable."
        CreatedOn:
          $ref: "#/components/schemas/Date"
        Email:
          type: string
          example: "robert@easypaysolutions.com"
          description: "The email address of the account holder."
        ExpDate:
          type: string
          example: "1023"
          description: "The expiration date of the card in MMYY format."
        Firstname:
          type: string
          example: "Sean"
          description: "The first name of the account holder."
        ID:
          type: integer
          example: 1
          description: "The unique identifier for the account holder in the system."
        LastChanged:
          $ref: "#/components/schemas/Date"
        LastName:
          type: string
          example: "Wood"
          description: "The last name of the account holder."
        MerchID:
          type: integer
          example: 1
          description: "The unique identifier for the merchant associated with the account."
        Phone:
          type: string
          example: "8777248472"
          description: "The phone number of the account holder."
        State:
          type: string
          example: "ME"
          description: "The state where the account holder resides."
        Zip:
          type: string
          example: "04106"
          description: "The postal code for the account holder's address."

    Address:
      type: object
      properties:
        Address1:
          type: string
          example: "123 Test Road"
          description: "The primary address line."
        Address2:
          type: string
          example: ""
          description: "The secondary address line, if applicable."
        City:
          type: string
          example: "Portland"
          description: "The city associated with the address."
        State:
          type: string
          example: "ME"
          description: "The state associated with the address."
        ZIP:
          type: string
          example: "04005"
          description: "The postal code for the address."
        Country:
          type: string
          example: "USA"
          description: "The country associated with the address."

    Amounts:
      type: object
      properties:
        BaseAmt:
          type: number
          format: float
          example: 52.00
          description: "The base $ amount for the transaction before any additional charges."
        Surcharge:
          type: number
          format: float
          example: 1.04
          description: "The surcharge $ amount added to the base amount, if applicable. Adjusted based on the total."
        TotalAmt:
          type: number
          format: float
          example: 53.04
          description: "The total $ amount to be charged, which includes the base amount and any surcharges."

    AmountsFull:
      type: object
      properties:
        TotalAmt:
          type: number
          example: 10.0
          description: "The total $ amount to be charged."
        SalesTax:
          type: number
          example: 0.0
        Surcharge:
          type: number
          example: 0.0
          description: "The surcharge $ amount added to the base amount, if applicable."
        Tip:
          type: number
          example: 0.0
        CashBack:
          type: number
          example: 0.0
        ClinicAmount:
          type: number
          example: 0.0
        VisionAmount:
          type: number
          example: 0.0
        PrescriptionAmount:
          type: number
          example: 0.0
        DentalAmount:
          type: number
          example: 0.0
        TotalMedicalAmount:
          type: number
          example: 0.0

    AVSr:
      type: string
      example: "Y"
      description: |
        AVS response code indicating the result of the Address Verification Service. 
        See https://merchantservices.chase.com/support/faqs/address-verification-service

    BatchResult:
      type: object
      properties:
        BatchClose:
          type: string
          example: "0720191352"
          description: "The timestamp indicating when the batch was closed, formatted as a string."
        BatchLogID:
          type: integer
          example: 103
          description: "A unique identifier for the batch log entry."
        BatchNetAmount:
          type: number
          format: float
          example: 10.0000
          description: "The net $ amount of the batch after all transactions have been processed."
        BatchNum:
          type: integer
          example: 3
          description: "The sequential number of the batch within the processing system."
        BatchOpen:
          type: string
          example: "0720191352"
          description: "The timestamp indicating when the batch was opened, formatted as a string."
        BatchTransCount:
          type: integer
          example: 1
          description: "The total number of transactions included in the batch."
        Code:
          type: string
          example: "A"
          description: |
            A code representing the status of the batch. 
            Possible values include:
            - A: Approved - The batch has been successfully processed.
            - R: Rejected - The batch has been rejected due to errors.
            - P: Pending - The batch is currently pending processing.
            - E: Error - An error occurred during the batch processing.
        RemainingUnsettled:
          type: integer
          example: 0
          description: "The number of transactions that remain unsettled in the batch."
        ResultText:
          type: string
          example: "OK 003 0720 0000                "
          description: "A text message providing additional information about the batch processing result."
        TxLock:
          $ref: "#/components/schemas/TxLock"

    BatchStatus:
      type: string
      oneOf:
        - title: "N"
          const: "N"
          description: Not settled yet
        - title: "A"
          const: "A"
          description: Approved
        - title: "S"
          const: "S"
          description: Locked for resettlement
      example: "N"
      description: "The status of the batch."

    ChargeDetails:
      type: object
      properties:
        AccountNumber:
          type: string
          description: "The account number associated with the bank account from which funds will be withdrawn."
          example: "878460000256"
        RoutingNumber:
          type: string
          description: "The routing number of the bank, used to identify the financial institution for the transaction."
          example: "211274515"
        Amount:
          type: number
          format: float
          description: "The $ amount to be charged, specified in decimal format."
          example: 10.25
        AccountType:
          type: integer
          enum: [1, 2, 3, 4]
          description: |
            The type of bank account. Possible values are: 
            - 1: Personal Checking. 
            - 2: Personal Saving.
            - 3: Business Checking. 
            - 4: Business Saving.
          example: 1

    Consent:
      type: object
      properties:
        AcctHolderFirstName:
          type: string
          example: "Bruce"
          description: "The first name of the account holder."
        AcctHolderID:
          type: integer
          example: 78
          description: "A unique identifier for the account holder."
        AcctHolderLastName:
          type: string
          example: "Wayne"
          description: "The last name of the account holder."
        AcctNo:
          type: string
          example: "5439"
          description: "The account number associated with the consent."
        CardExpDate:
          $ref: "#/components/schemas/Date"
        CardExpDateMMYY:
          type: string
          example: "1228"
          description: "The expiration date of the card in MMYY format."
        ConsentType:
          $ref: "#/components/schemas/ConsentType"
        CreatedBy:
          type: string
          example: "Savannah_Tester"
          description: "The identifier of the user or system that created the consent."
        CreatedByOrigin:
          type: string
          example: "API"
          description: "The origin of the creation request, indicating it was made via API."
        CreatedOn:
          $ref: "#/components/schemas/Date"
        CustID:
          type: integer
          example: 77
          description: "A unique identifier for the customer associated with the consent."
        CustomerRefID:
          type: string
          example: "modify"
          description: "A reference ID for the customer, used for modification purposes."
        EndDate:
          $ref: "#/components/schemas/Date"
        ID:
          type: integer
          example: 55
          description: "A unique identifier for the consent record."
        IsEnabled:
          type: boolean
          example: true
          description: "Indicates whether the consent is currently enabled."
        MerchID:
          type: integer
          example: 3
          description: "A unique identifier for the merchant associated with the consent."
        ModifiedOn:
          $ref: "#/components/schemas/Date"
        RPGUID:
          $ref: "#/components/schemas/RPGUID"
        ServiceDescrip:
          type: string
          example: "API Modify"
          description: "A description of the service associated with the consent."
        StartDate:
          $ref: "#/components/schemas/Date"

    ConsentCreator:
      type: object
      properties:
        MerchID:
          type: integer
          example: 1
        CustomerRefID:
          type: string
          example: "A1523644"
        ServiceDescrip:
          type: string
          example: "REST Test"
        RPGUID:
          $ref: "#/components/schemas/RPGUID"
        StartDate:
          $ref: "#/components/schemas/Date"
        NumDays:
          type: integer
          example: 365
        LimitPerCharge:
          type: number
          format: float
          example: 1000.0
        LimitLifeTime:
          type: number
          format: float
          example: 100000.0

    ConsentMods:
      type: object
      properties:
        ExpMonth:
          type: integer
          example: 10
          description: Expiration month of the card
        ExpYear:
          type: integer
          example: 22
          description: Full expiration year of the card or the last 2 digits
        Email:
          type: string
          format: email
          example: "robert@easypaysolutions.com"
          description: Email address associated with the consent
        Zip:
          type: string
          example: "04106"
          description: ZIP code associated with the consent
        CustomerRefID:
          type: string
          example: "A1235456"
          description: Customer reference ID
        ServiceDescrip:
          type: string
          example: "REST API Testor"
          description: Description of the service
        RPGUID:
          $ref: "#/components/schemas/RPGUID"
        NumDays:
          type: integer
          example: 365
          description: Number of days for the consent
        LimitPerCharge:
          type: number
          format: float
          example: 10000.0
          description: Limit per charge
        LimitLifeTime:
          type: number
          format: float
          example: 100000.0
          description: Lifetime limit

    ConsentType:
      type: string
      enum:
        - "S" # Subscription Consent
        - "O" # One-time Consent
        - "R" # Recurring Consent
        - "A" # Annual Consent
      example: "S"
      description: "The type of consent given for the payment."

    Customer:
      type: object
      properties:
        Address1:
          type: string
          example: "123 Fake St."
        Address2:
          type: string
          example: "          "
        City:
          type: string
          example: "PORTLAND  "
        ClientRefID:
          type: string
          example: "A123456"
        Company:
          type: string
          example: ""
        CreatedOn:
          $ref: "#/components/schemas/Date"
        Email:
          type: string
          example: "robert@easypaysolutions.com"
        Firstname:
          type: string
          example: "Sean"
        ID:
          type: integer
          example: 72
        LastChanged:
          $ref: "#/components/schemas/Date"
        LastName:
          type: string
          example: "Wood"
        MerchID:
          type: integer
          example: 1
        Phone:
          type: string
          example: "8777248472"
        Service:
          type: string
          example: ""
        State:
          type: string
          example: "ME        "
        Zip:
          type: string
          example: "04106          "

    CreditCardInfo:
      type: object
      properties:
        AccountNumber:
          type: string
          example: "4111111111111111"
        ExpMonth:
          type: integer
          example: 10
        ExpYear:
          type: integer
          example: 2028
        CSV:
          type: string
          example: "122"

    CreditCardInfoWithTrack:
      type: object
      properties:
        AccountNumber:
          type: string
          example: "4111111111111111"
        ExpMonth:
          type: integer
          example: 10
        ExpYear:
          type: integer
          example: 2028
        CSV:
          type: string
          example: "122"
        Track:
          type: string
          nullable: true
          example: null

    CVVr:
      type: string
      enum:
        - "M" # Match
        - "N" # No Match
      example: ""
      description: "CVV response code indicating the result of the Card Verification Value check."

    Date:
      type: string
      example: "/Date(1549947600000-0500)/"
      description: "Date and time in Microsoft JSON date format (Unix timestamp and timezone offset)."

    EINDEX:
      type: string
      example: "100"
      description: Integrator key index for encryption assigned when integrator account is first created, received with the initial login credentials

    ErrCode:
      type: integer
      example: 0
      description: Error code. 0 indicates success.

    ErrMsg:
      type: string
      nullable: true
      example: ""
      description: Error message. Empty or null if no error.

    FunctionOk:
      type: boolean
      example: true
      description: Indicates if the function executed correctly

    Items:
      type: object
      properties:
        ServiceDescrip:
          type: string
          example: "FROM API TESTER"
          description: "A description of the service or item."
        ClientRefID:
          type: string
          example: "12456AA"
          description: "A reference ID provided by the client for tracking purposes."
        RPGUID:
          $ref: "#/components/schemas/RPGUID"

    Payment:
      type: object
      properties:
        AcctNo:
          type: string
          example: "1111"
          description: "The account number associated with the payment."
        CardHolder:
          type: string
          example: "JOHN DOE"
          description: "The full name of the cardholder making the payment."
        CardType:
          type: string
          example: "VI"
          description: "The type of card used for the payment (e.g., VI for Visa, MC for MasterCard)."
        ConsentID:
          type: integer
          example: 6
          description: "An identifier for the consent associated with the payment."
        ConsentType:
          $ref: "#/components/schemas/ConsentType"
        ErrMsg:
          type: string
          example: ""
          description: "An error message returned if the transaction fails."
        IsPartialApproval:
          type: boolean
          example: false
          description: "Indicates whether the transaction received partial approval."
        MerchID:
          type: integer
          example: 1
          description: "The merchant ID associated with the payment."
        PaymentAmt:
          type: number
          format: float
          example: 10.0000
          description: "The $ amount of the payment being processed."
        PaymentDate:
          $ref: "#/components/schemas/Date"
        PaymentNum:
          type: integer
          example: 1
          description: "The sequential number of the payment transaction."
        SEQ:
          type: string
          example: "119"
          description: "A sequence number for tracking the payment."
        SchedID:
          type: integer
          example: 1
          description: "The ID of the schedule associated with the payment, if applicable."
        SchedNum:
          type: integer
          example: 1
          description: "The number of the schedule associated with the payment, indicating the order of the schedule within a set."
        TxApproved:
          type: boolean
          example: true
          description: "Indicates whether the transaction was approved."
        TxID:
          type: integer
          example: 104
          description: "The unique identifier for the transaction."
        TxnCode:
          type: string
          example: "090944"
          description: "The transaction code associated with the payment."

    Person:
      type: object
      properties:
        Firstname:
          type: string
          example: "Sally"
        Lastname:
          type: string
          example: "APIACH"
        Company:
          type: string
          example: ""
        Title:
          type: string
          example: ""
        Url:
          type: string
          example: ""
        BillIngAdress:
          $ref: "#/components/schemas/Address"
        Email:
          type: string
          example: "testing@easypaysolutions.com"
        Phone:
          type: string
          example: "8775558472"

    ReceiptType:
      type: integer
      enum:
        - 1 # Transaction
        - 2 # Void
        - 3 # Refund
        - 4 # Annual Consent
        - 5 # Recurring Consent
        - 6 # Subscription
        - 7 # ACH Transaction
        - 8 # ACH Void
        - 9 # ACH Refund
      example: 2
      description: The type of receipt

    Recipient:
      type: integer
      enum:
        - 1 # Merchant
        - 2 # Customer
        - 3 # Both
      example: 1
      description: The targeted recipient type

    REF_ID:
      type: string
      example: "A97689#"
      description: "A custom, user-defined reference ID or value."

    RefTxID:
      type: integer
      example: 0
      description: |
        The identifier for a related transaction, if applicable.
        As an example, when you credit a transaction, that will create a relationship.

    RPGUID:
      type: string
      example: "adf98580-b4ab-42fc-bb99-01c89964afe9"
      description: "A custom, user-defined reference ID or value."

    ScheduledPayment:
      type: object
      properties:
        AcctHolderID:
          type: integer
          example: 782
          description: "The unique identifier for the account holder associated with the scheduled payment."
        AcctNo:
          type: string
          example: "0119"
          description: "The account number from which the payment will be deducted."
        ConsentID:
          type: integer
          example: 396
          description: "The unique identifier for the consent associated with this scheduled payment."
        ConsentType:
          $ref: "#/components/schemas/ConsentType"
        DueOn:
          $ref: "#/components/schemas/Date"
        ID:
          type: integer
          example: 282
          description: "The unique identifier for this scheduled payment record."
        LastName:
          type: string
          example: "Draper"
          description: "The last name of the account holder associated with the scheduled payment."
        MerchID:
          type: integer
          example: 1
          description: "The unique identifier for the merchant associated with the scheduled payment."
        OfTotalPayment:
          type: float
          example: 100.00
          description: "The $ amount that this scheduled payment contributes to the total payment."
        OfTotalPayments:
          type: integer
          example: 10
          description: "The total number of payments that are part of this scheduled payment plan."
        PaymentAmt:
          type: number
          format: float
          example: 300.0000
          description: "The total $ amount to be paid in this payment."
        PaymentNum:
          type: integer
          example: 1
          description: "The sequence number of this payment in the series of scheduled payments."
        Period:
          type: string
          example: "WEEKLY"
          description: "The frequency of the scheduled payments (e.g., WEEKLY, MONTHLY)."
        RPGUID:
          $ref: "#/components/schemas/RPGUID"
        RStatus:
          type: string
          enum:
            - "P" # Paid
            - "C" # Cancelled
            - "S" # Scheduled
          example: "S"
          description: "The status of the payment."
        SchedNum:
          type: integer
          example: 59
          description: "The unique number assigned to this schedule, used to differentiate between multiple schedules."
        Tries:
          type: integer
          example: 0
          description: "The number of attempts made to process this scheduled payment."
        TxID:
          type: integer
          example: -1
          description: "The transaction ID associated with this scheduled payment, indicating the result of the payment attempt."

    Transaction:
      type: object
      properties:
        ACCT_FIRST_NAME:
          type: string
          example: "Sean"
          description: "The first name of the account holder."
        ACCT_LAST_NAME:
          type: string
          example: "Wood"
          description: "The last name of the account holder."
        ACCT_NO:
          type: string
          example: "4788XXXXXXXX8291"
          description: "The account number associated with the transaction, masked for security."
        AMOUNT:
          type: number
          format: float
          example: 10.0000
          description: "The total $ amount of the transaction."
        AVSr:
          $ref: "#/components/schemas/AVSr"
        AcctHolderID:
          type: integer
          example: 3
          description: "A unique identifier for the account holder."
        BatchLogID:
          type: integer
          example: 0
          description: "The identifier for the batch log associated with the transaction."
        BatchNO:
          type: integer
          example: 0
          description: "The batch number to which this transaction belongs."
        BatchStatus:
          $ref: "#/components/schemas/BatchStatus"
        CARD_TYPE:
          type: string
          enum:
            - "VI" # Visa
            - "MC" # MasterCard
            - "AE" # American Express
            - "DS" # Discover
          example: "VI"
          description: "The type of card used for the transaction."
        CASHBACK:
          type: number
          format: float
          example: 0.0000
          description: "The $ amount of cashback requested during the transaction."
        CVVr:
          $ref: "#/components/schemas/CVVr"
        CardPresent:
          type: boolean
          example: true
          description: "Indicates whether the card was present during the transaction."
        ConsentID:
          type: integer
          example: 0
          description: "The identifier for the consent associated with the transaction."
        CreatedOn:
          $ref: "#/components/schemas/Date"
        Credits:
          type: number
          format: float
          example: 0.0000
          description: "The $ amount of credits applied to the transaction."
        EMVPresent:
          type: boolean
          example: false
          description: "Indicates whether EMV (Europay, MasterCard, and Visa) technology was used."
        EMVRecTags:
          type: string
          example: ""
          description: "EMV record tags associated with the transaction."
        EXP_DATE:
          type: string
          example: "1028"
          description: "The expiration date of the card used for the transaction in MMYY format."
        EndCustID:
          type: integer
          example: 44
          description: "A unique identifier for the end customer associated with the transaction."
        Flags:
          type: string
          example: ""
          description: "Flags indicating special conditions or statuses related to the transaction."
        HAuthorizedAmount:
          type: number
          format: float
          example: -1.0000
          description: "The $ amount authorized for the transaction, if applicable."
        ID:
          type: integer
          example: 44
          description: "A unique identifier for the transaction record."
        IsLocked:
          type: boolean
          example: false
          description: "Indicates whether the transaction is currently locked for processing"
        IsPartialApproval:
          type: boolean
          example: false
          description: "Indicates whether the transaction was partially approved."
        LAST_CHANGED_BY:
          type: string
          example: "vidya_Venkatraman"
          description: "The username or identifier of the person who last modified the transaction."
        LastChangedOn:
          $ref: "#/components/schemas/Date"
        MerchID:
          type: integer
          example: 1
          description: "The unique identifier for the merchant associated with the transaction."
        Origin:
          type: string
          enum:
            - "API" # REST / SOAP API
            - "WID" # Widget
            - "VT" # Virtual Terminal
            - "MOBL" # Mobile SDK
            - "SDK" # Verifone
            - "AUTO" # Automatically scheduled from a payment plan
          example: "API"
          description: "The source from which the transaction originated."
        PAYMENT_TYPE:
          type: string
          example: "C"
          description: "The type of payment method used for the transaction (e.g., C for Credit, D for Debit)."
        PartialAuthApproved:
          type: number
          format: float
          example: -1.0000
          description: "The $ amount that was partially authorized, if applicable."
        PreAuthID:
          type: integer
          example: 0
          description: "The identifier for the pre-authorization associated with the transaction."
        PrepaidBalance:
          type: number
          format: float
          example: -1.0000
          description: "The balance available on a prepaid account, if applicable."
        REF_ID:
          $ref: "#/components/schemas/REF_ID"
        RPGUID:
          $ref: "#/components/schemas/RPGUID"
        RefTxID:
          $ref: "#/components/schemas/RefTxID"
        SALE_TAX:
          type: number
          format: float
          example: 0.0000
          description: "The $ amount of sales tax applied to the transaction."
        SEQ_NO:
          type: integer
          example: 51
          description: "The sequence number of the transaction, used for ordering or tracking."
        SERVER:
          type: string
          example: ""
        SURCHARGE:
          type: number
          format: float
          example: 0.0000
          description: "Any additional surcharge applied to the transaction."
        TIP:
          type: number
          format: float
          example: 0.0000
          description: "The $ tip amount included in the transaction."
        TXN_CODE:
          type: string
          example: "092682"
          description: "A code representing the type of transaction."
        TXN_DATE:
          type: string
          example: "042419"
          description: "The date when the transaction occurred, in MMDDYY format."
        TXN_DATETIME:
          $ref: "#/components/schemas/Date"
        TXN_TIME:
          type: string
          example: "082544"
          description: "The time when the transaction occurred, in HHMMSS format."
        TxLOCK:
          $ref: "#/components/schemas/TxLock"
        TxSTATUS:
          $ref: "#/components/schemas/TxStatus"
        TxType:
          type: string
          enum:
            - "CCAUTHONLY"
            - "CCSALE"
            - "CCFORCE"
            - "CCVOICE"
            - "CCADJUST"
            - "CCCREDIT"
          example: "CCSALE"
          description: "Specifies the type of transaction being processed."
        UserID:
          type: integer
          example: 2547
          description: "The unique identifier for the user associated with the transaction. This ID can be used to track which user initiated or is responsible for the transaction."

    TxLock:
      type: string
      example: "7A639CD720CE4B14"
      description: |
        A unique value which represents the lock imposed on transactions prior to settlement.
        If the batch fails, the transaction will remain locked to prevent it from being merged with other settlements.
        In this situation, someone at Number will investigate and resettle the batch in its original grouping.

    TxStatus:
      type: string
      enum:
        - "OPEN"
        - "AUTHOK"
        - "AUTHFAILED"
        - "SETTLED"
        - "FAILED"
        - "LOCKED"
        - "VOID"
        - "HOST"
      example: "OPEN"
      description: Represents the current status of the transaction

    TxStatusInternational:
      type: string
      enum:
        - "3DS"
        - "Redirect"
        - "Pending"
        - "Declined"
        - "Settled"
        - "Reversal"
        - "Refund"
        - "Void"
        - "Chargeback"
      description: Represents the current status of the international transaction

    QueryTransaction:
      type: string
      description: >
        A query string for obtaining specific transaction records using Number's query language.
        Build logical terms and join them with '&&' for logical AND or '||' for logical OR.
        Use single quotes for text and date values. Refer to the variable chart for query composition:
          * A: MERCHANT ID - The merchant record you are interested in, e.g. (A=1).
          * B: TRANSACTION STATUS - The status of the transaction, e.g. (B=1).
            * -1: ALL
            * 1: OPEN
            * 2: SETTLED
            * 3: FAILED
            * 4: LOCKED
            * 5: VOID
          * C: DATE CREATED - The date the transaction was created, e.g. (C>='7/5/2024 12:00:00 AM').
          * D: LAST NAME - Last name of the account holder, e.g. (D LIKE '%MITH') for all names that end with 'MITH'.
          * E: TRANSACTION LOCK - Lock status of the transaction, e.g. (E<>'0') for locked transactions.
          * F: BATCH LOG ID - Reference to a batch settlement record, e.g. (F=817).
          * H: TRANSACTION ID - The unique identifier for the transaction, e.g. (H=58258).
          * J: FIRST NAME - First name of the account holder, e.g. (J LIKE 'ROB%') for all names that start with 'ROB'.
          * K: TRANSACTION TYPE - The type of transaction, e.g. (K=-1).
            * -1: ALL
            * 1: CCAUTHONLY
            * 2: CCSALE
            * 3: CCFORCE
            * 4: CCVOICE
            * 5: CCADJUST
            * 6: CCCREDIT
          * L: AMOUNT - The $ amount of the transaction, e.g. (L>100.00).
          * M: CLIENT REFERENCE ID - User-defined value on the transaction.
          * N: RPGUID - User-defined value on the transaction.
          * P: CONSENT ID - The Consent ID of card on file the transactions were charged against, e.g. (P=15875).
          * Q: CREDIT CARD LAST 4 - The last 4 digits of a credit card, e.g. (Q='4123').
          * R: APPROVAL CODE - The approval code for the transaction, e.g. (R='TAS626').
          * S: CUSTOMER LAST NAME - The last name of the customer, e.g. (S='SMITH').
          * T: CUSTOMER FIRST NAME - The first name of the customer, e.g. (T='FOSTER').
          * U: ORIGIN - The origin of the transaction, e.g. (U='API').
            * "API": REST / SOAP API
            * "WID": Widget
            * "VT": Virtual Terminal
            * "MOBL": Mobile SDK
            * "SDK": Verifone
            * "AUTO": Automatically scheduled from a payment plan
          * W: BATCH NUMBER - The batch number for the batch settlement, e.g. (W=762).
      example: "(B=3)&&(E=1)&&(C>'2024-09-01')"

    QueryConsent:
      type: string
      description: >
        A query string for obtaining specific consent records using Number's query language.
        Build logical terms and join them with '&&' for logical AND or '||' for logical OR.
        Use single quotes for text and date values. Refer to the variable chart for query composition:
          * A: MERCHANT ID - The merchant record you are interested in, e.g. (A=1).
          * B: START DATE - The date the consent becomes active, e.g. (B>='10/20/2024').
          * C: END DATE - The date the consent expires, e.g. (C<='10/20/2024').
          * D: ACCOUNT HOLDER LAST NAME - Last name of the account holder, e.g. (D LIKE '%MITH') for all names that end with 'MITH'.
          * E: CREATED ON - The date the consent was created, e.g. (E<='10/20/2024').
          * F: CUSTOMER REFERENCE ID - User-defined value on the consent.
          * G: CONSENT TYPE - The type of consent, e.g. (G='-1').
            * -1: ALL
            * 1: ANNUAL
            * 2: ONE-TIME
            * 3: RECURRING
            * 4: SUBSCRIPTION
          * H: ENABLED - Indicates whether the consent is currently enabled, e.g. (H=1).
          * J: RPGUID - User-defined value on the consent.
          * K: ACCOUNT HOLDER FIRST NAME - First name of the account holder, e.g. (K LIKE 'ROB%') for all names that start with 'ROB'.
          * Z: CONSENT ID - The unique identifier for the consent, e.g. (Z=15875).
      example: "(G=1)&&(B>'10/20/2024')"

    QueryRecurringSchedule:
      type: string
      description: >
        A query string for obtaining specific recurring schedule records using Number's query language.
        Build logical terms and join them with '&&' for logical AND or '||' for logical OR.
        Use single quotes for text and date values. Refer to the variable chart for query composition:
          * A: CONSENT ID - The unique identifier for the consent associated with the recurring schedule, e.g. (A=545).
          * B: STATUS - The status of the recurring schedule, e.g. (B=-1).
            * -1: ALL
            * 1: SCHEDULED
            * 2: PAID
            * 3: FAILED
            * 4: CANCELLED
          * C: DUE DATE - The date the next payment is due, e.g. (C='10/20/2024').
          * D: ACCOUNT HOLDER LAST NAME - Last name of the account holder, e.g. (D LIKE '%MITH') for all names that end with 'MITH'.
          * E: MERCHANT ID - The unique identifier for the merchant associated with the recurring schedule, e.g. (E=1).
          * F: ACCOUNT NUMBER LAST 4 - The last 4 digits of the account number associated with the recurring schedule, e.g. (F='1234').
          * G: SCHEDULE ID - The unique identifier for the recurring schedule, e.g. (G=12). 
          * H: TYPE - The type of recurring schedule, e.g. (H=-1).
            * -1: ALL
            * 3: RECURRING
            * 4: SUBSCRIPTION
      example: "(H=3)&&(C>='10/20/2024')"

    QueryBatchLog:
      type: string
      description: >
        A query string for obtaining specific batch log records using Number's query language.
        Build logical terms and join them with '&&' for logical AND or '||' for logical OR.
        Use single quotes for text and date values. Refer to the variable chart for query composition:
          * A: MERCHANT ID - The merchant record you are interested in, e.g. (A=545).
          * B: STATUS - The status of the batch log, e.g. (B=-1).
            * -1: ALL
            * 1: FAILED
            * 2: APPROVED
          * C: CREATED ON - The date the batch log was created, e.g. (C>='3/2/2024')&&(C<='4/2/2024').
          * D: BATCH LOG ID - The unique identifier for the batch log, e.g. (D=1777).
          * E: BATCH NUMBER - The batch number for the batch log, e.g. (E=185).
      example: "(B=1)&&(C>='3/2/2024')&&(C<='4/2/2024')"

# ACH
paths:
  /APIcardProcREST/v1.0.0/ACH/Sale:
    post:
      summary: Create an ACH Sale
      operationId: createACHSale
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ChargeDetails:
                  $ref: "#/components/schemas/ChargeDetails"
                AcctHolder:
                  $ref: "#/components/schemas/Person"
                EndCustomer:
                  $ref: "#/components/schemas/Person"
                PurchItems:
                  $ref: "#/components/schemas/Items"
                MerchID:
                  type: integer
                  example: 1
      responses:
        "200":
          description: Successful ACH Sale transaction
          content:
            application/json:
              schema:
                type: object
                properties:
                  ACHTransactionResult:
                    type: object
                    properties:
                      AuthID:
                        type: string
                        example: "69017501"
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      RespMsg:
                        type: string
                        example: "TxID 1381 Approved"
                      TxApproved:
                        type: boolean
                        example: true
                      TxID:
                        type: integer
                        example: 1381
                      uniqueTranID:
                        type: string
                        example: "16790131F349BCBA"
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # Create an ACH Combo Sale and Consent

  /APIcardProcREST/v1.0.0/ACH/Combo:
    post:
      summary: Create an ACH Combo Sale and Consent
      operationId: createACHComboSaleAndConsent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ChargeDetails:
                  $ref: "#/components/schemas/ChargeDetails"
                AcctHolder:
                  $ref: "#/components/schemas/Person"
                EndCustomer:
                  $ref: "#/components/schemas/Person"
                PurchItems:
                  $ref: "#/components/schemas/Items"
                MerchID:
                  type: integer
                  example: 1
      responses:
        "200":
          description: Successful ACH Combo Sale and Consent transaction
          content:
            application/json:
              schema:
                type: object
                properties:
                  ACHTransaction_ComboResult:
                    type: object
                    properties:
                      AuthID:
                        type: string
                        example: "69017501"
                      ConsentID:
                        type: integer
                        example: 1247
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      RespMsg:
                        type: string
                        example: "TxID 1381 Approved and ConsentID 1247 Created"
                      TxApproved:
                        type: boolean
                        example: true
                      TxID:
                        type: integer
                        example: 1381
                      uniqueTranID:
                        type: string
                        example: "16790131F349BCBA"
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # ACH Transaction Credit (Create an ACH Transaction)

  /APIcardProcREST/v1.0.0/ACH/ApplyCredit:
    post:
      summary: Apply credit to an ACH transaction
      operationId: applyACHCredit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                TxID:
                  type: integer
                  example: 2
                CreditAmount:
                  type: number
                  format: float
                  example: 15.25
      responses:
        "200":
          description: Successful application of credit to the ACH transaction
          content:
            application/json:
              schema:
                type: object
                properties:
                  ACH_ApplyCreditResult:
                    type: object
                    properties:
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      RespMsg:
                        type: string
                        example: "APPROVED 67210758 TXID 000041"
                      TxApproved:
                        type: boolean
                        example: true
                      TxID:
                        type: integer
                        example: 41
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # ACH Annual Consent Process Payment

  /APIcardProcREST/v1.0.0/ACH/ProcPayment:
    post:
      summary: Process payment with ACH annual consent
      operationId: processACHConsentPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ConsentID:
                  type: integer
                  example: 21
                ProcessAmount:
                  type: number
                  format: float
                  example: 5.10
      responses:
        "200":
          description: Successful processing of ACH consent payment
          content:
            application/json:
              schema:
                type: object
                properties:
                  ACHConsentAnnual_ProcPaymentResult:
                    type: object
                    properties:
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      RespMsg:
                        type: string
                        example: "APPROVED 67210748 TXID 000035"
                      TxApproved:
                        type: boolean
                        example: true
                      TxID:
                        type: integer
                        example: 72
                      uniqueTranID:
                        type: string
                        example: "122103CCD3F49CC0"
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # ACH Transaction Void

  /APIcardProcREST/v1.0.0/ACH/Void:
    post:
      summary: Void an ACH transaction
      operationId: voidACHTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                TxID:
                  type: integer
                  example: 35
      responses:
        "200":
          description: Successful voiding of the ACH transaction
          content:
            application/json:
              schema:
                type: object
                properties:
                  ACHTransaction_VoidResult:
                    type: object
                    properties:
                      AuthID:
                        type: string
                        example: "67210748"
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOK:
                        $ref: "#/components/schemas/FunctionOk"
                      RespMsg:
                        type: string
                        example: "VOID APPROVED 67210748 TXID 35"
                      TxApproved:
                        type: boolean
                        example: true
                      TxID:
                        type: integer
                        example: 35
                        description: ID of the voided transaction. 0 if voiding was not successful.
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # AUTHENTICATE
  # Authenticate

  /APIcardProcREST/v1.0.0/Authenticate:
    post:
      summary: Authenticate user and retrieve session key
      operationId: authenticateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                AcctCode:
                  type: string
                  example: "EP911XXXX"
                  description: Account code that never changes
                Token:
                  type: string
                  example: "2148B239CF6846BDA5D141BF4A4CFBE8"
                  description: Token that expires every 2 years
      responses:
        "200":
          description: Successful authentication and session key retrieval
          content:
            application/json:
              schema:
                type: object
                properties:
                  AuthenticateResult:
                    type: object
                    properties:
                      AuthSuccess:
                        type: boolean
                        example: true
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      MerchantList:
                        type: array
                        description: List of merchants associated with the authenticated user for use with transactions
                        items:
                          type: object
                          properties:
                            Address:
                              type: string
                              example: "45 spring street portland Maine 04101"
                            Descrip:
                              type: string
                              example: "Test Merchant 1"
                            ID:
                              type: integer
                              example: 1
                            Location:
                              type: string
                              example: "Test Merchant 1"
                            TermID:
                              type: string
                              example: "006"
                              description: The unique id associated with the merchant terminal
                      RespMsg:
                        type: string
                        example: "SessKey Expires|4/18/2019 7:29:47 AM"
                      SessKey:
                        type: string
                        example: "B9F24903C3BA4770AE303032303541303032353437"
                      ThisUser:
                        type: object
                        properties:
                          APILocationID:
                            type: integer
                            example: 2210
                          AccountCode:
                            type: string
                            example: "EP9116875"
                          AcctID:
                            type: integer
                            example: 205
                          Alias:
                            type: string
                            example: "vidya_Venkatraman"
                          CreatedBy:
                            type: string
                            example: "ADMIN : vidya Venkatraman"
                          DateCreated:
                            $ref: "#/components/schemas/Date"
                          DateModified:
                            $ref: "#/components/schemas/Date"
                          Description:
                            type: string
                            example: "EP DEV ACCT"
                          ExpirationDate:
                            $ref: "#/components/schemas/Date"
                          ID:
                            type: integer
                            example: 2547
                          IsExpired:
                            type: boolean
                            example: false
                          IsLockedOut:
                            type: boolean
                            example: false
                          TokenDescription:
                            type: string
                            example: "EP DEV ACCT"
      parameters:
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # CARD OPERATIONS
  # Card Sale - Card Present
  /APIcardProcREST/v1.0.0/CardSale/CardPresent:
    post:
      summary: Process a card sale with card present
      description: |
        <style>h4{color:red;}</style>
        <h4>For PCI compliant merchants only</h4>
      operationId: cardSaleCardPresent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Track:
                  type: string
                  example: "TrackData"
                AcctHolder:
                  $ref: "#/components/schemas/AccountHolder"
                EndCustomer:
                  $ref: "#/components/schemas/AccountHolder"
                Amounts:
                  $ref: "#/components/schemas/AmountsFull"
                PurchItems:
                  $ref: "#/components/schemas/Items"
                MerchID:
                  type: integer
                  example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  CreditCardSale_CardPresentResult:
                    type: object
                    properties:
                      AVSresult:
                        $ref: "#/components/schemas/AVSr"
                      AcquirerResponseEMV:
                        type: string
                        nullable: true
                        example: null
                      CVVresult:
                        $ref: "#/components/schemas/CVVr"
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      IsPartialApproval:
                        type: boolean
                        example: false
                      RequiresVoiceAuth:
                        type: boolean
                        example: false
                      RespMsg:
                        type: string
                        example: "APPROVED 092682"
                      ResponseApprovedAmount:
                        type: number
                        format: float
                        example: -1Pl
                      ResponseAuthorizedAmount:
                        type: number
                        format: float
                        example: -1
                      ResponseBalanceAmount:
                        type: number
                        format: float
                        example: -1
                      TxApproved:
                        type: boolean
                        example: true
                      TxID:
                        type: integer
                        example: 44
                      TxnCode:
                        type: string
                        example: "092682"
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # Card Sale - Manual

  /APIcardProcREST/v1.0.0/CardSale/Manual:
    post:
      summary: Process a manual card sale
      description: |
        <style>h4{color:red;}</style>
        <h4>For PCI compliant merchants only</h4>
      operationId: cardSaleManual
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ccCardInfo:
                  $ref: "#/components/schemas/CreditCardInfo"
                AcctHolder:
                  $ref: "#/components/schemas/AccountHolder"
                EndCustomer:
                  $ref: "#/components/schemas/AccountHolder"
                AmountsFull:
                  $ref: "#/components/schemas/AmountsFull"
                Items:
                  $ref: "#/components/schemas/Items"
                MerchID:
                  type: integer
                  example: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  CreditCardSale_ManualResult:
                    type: object
                    properties:
                      AVSresult:
                        $ref: "#/components/schemas/AVSr"
                      AcquirerResponseEMV:
                        type: string
                        nullable: true
                        example: null
                      CVVresult:
                        $ref: "#/components/schemas/CVVr"
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      IsPartialApproval:
                        type: boolean
                        example: false
                      RequiresVoiceAuth:
                        type: boolean
                        example: false
                      RespMsg:
                        type: string
                        example: "APPROVED 099804                 "
                      ResponseApprovedAmount:
                        type: number
                        format: float
                        example: -1
                      ResponseAuthorizedAmount:
                        type: number
                        format: float
                        example: -1
                      ResponseBalanceAmount:
                        type: number
                        format: float
                        example: -1
                      TxApproved:
                        type: boolean
                        example: true
                      TxID:
                        type: integer
                        example: 41
                      TxnCode:
                        type: string
                        example: "099804"
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # Card Sale - Surcharge

  /APIcardProcREST/v1.0.0/CardSale/Surcharge:
    post:
      summary: Process a card sale with surcharge
      description: |
        <style>h4{color:red;}</style>
        <h4>For PCI compliant merchants only</h4>
      operationId: cardSaleSurcharge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                MerchID:
                  type: integer
                  example: 1
                ccCardInfo:
                  $ref: "#/components/schemas/CreditCardInfo"
                AcctHolder:
                  $ref: "#/components/schemas/AccountHolder"
                EndCustomer:
                  $ref: "#/components/schemas/AccountHolder"
                Amounts:
                  $ref: "#/components/schemas/Amounts"
                PurchItems:
                  $ref: "#/components/schemas/Items"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  CreditCardSale_SurchargeResult:
                    type: object
                    properties:
                      AVSresult:
                        $ref: "#/components/schemas/AVSr"
                      AcquirerResponseEMV:
                        type: string
                        nullable: true
                        example: null
                      CVVresult:
                        $ref: "#/components/schemas/CVVr"
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      IsPartialApproval:
                        type: boolean
                        example: false
                      RequiresVoiceAuth:
                        type: boolean
                        example: false
                      RespMsg:
                        type: string
                        example: "APPROVED 099804                 "
                      ResponseApprovedAmount:
                        type: number
                        format: float
                        example: -1
                      ResponseAuthorizedAmount:
                        type: number
                        format: float
                        example: -1
                      ResponseBalanceAmount:
                        type: number
                        format: float
                        example: -1
                      TxApproved:
                        type: boolean
                        example: true
                      TxID:
                        type: integer
                        example: 41
                      TxnCode:
                        type: string
                        example: "099804"
                      ApprovedAmounts:
                        $ref: "#/components/schemas/Amounts"
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # Credit\Return\Refund a Transaction

  /APIcardProcREST/v1.0.0/CardSale/ApplyCredit:
    post:
      summary: Process a refund to a settled charge
      operationId: applyCredit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                TxID:
                  type: integer
                  example: 56
                  description: Transaction ID of the charge to be refunded
                CreditAmount:
                  type: number
                  format: float
                  example: 5.0
                  description: Amount to be refunded
      responses:
        "200":
          description: Successful processing of the refund
          content:
            application/json:
              schema:
                type: object
                properties:
                  Transaction_ApplyCreditResult:
                    type: object
                    properties:
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      RespMsg:
                        type: string
                        example: "Successful Credit Pending Transaction ID : 000057"
                      TxApproved:
                        type: boolean
                        example: true
                      TxID:
                        type: integer
                        example: 57
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # Void a Transaction

  /APIcardProcREST/v1.0.0/CardSale/Void:
    post:
      summary: Void a pending charge
      operationId: voidTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                TxID:
                  type: integer
                  example: 53
                  description: Transaction ID of the charge to be voided
      responses:
        "200":
          description: Successful voiding of the transaction
          content:
            application/json:
              schema:
                type: object
                properties:
                  Transaction_VoidResult:
                    type: object
                    properties:
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      RespMsg:
                        type: string
                        example: "Successful Transaction Void TxID : 53 [097706]"
                      TxApproved:
                        type: boolean
                        example: true
                      TxID:
                        type: integer
                        example: 53
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # CONSENT ANNUAL
  # Calculate Annual Consent Fees

  /APIcardProcREST/v1.0.0/ConsentAnnual/CalcFees:
    post:
      summary: Calculate surcharging or convenience fees
      operationId: calculateConsentFees
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ConsentID:
                  type: integer
                  example: 7849
                  description: ID for consent associated with the merchant account
                Amount:
                  type: number
                  format: float
                  example: 52.00
                  description: Base $ amount for which fees are to be calculated
                AlternateMerchID:
                  type: integer
                  example: 0
                  description: ID of the merchant to collect the payment funds. Use 0 for the merchant on consent.
      responses:
        "200":
          description: Successful calculation of fees
          content:
            application/json:
              schema:
                type: object
                properties:
                  ConsentAnnual_CalcFeesResult:
                    type: object
                    properties:
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      RespMsg:
                        type: string
                        example: "Fees calculated for CREDIT Card 4663XXXXXXXX2741"
                      Amounts:
                        $ref: "#/components/schemas/Amounts"
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # Cancel Annual Consent

  /APIcardProcREST/v1.0.0/ConsentAnnual/Cancel:
    post:
      summary: Cancel a consent (Card On File)
      operationId: cancelConsent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ConsentID:
                  type: integer
                  example: 20
                  description: ID of the consent to be canceled
      responses:
        "200":
          description: Successful cancellation of consent
          content:
            application/json:
              schema:
                type: object
                properties:
                  ConsentAnnual_CancelResult:
                    type: object
                    properties:
                      CancelSuccess:
                        type: boolean
                        example: true
                      CancelledConsentID:
                        type: integer
                        example: 20
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      RespMsg:
                        type: string
                        example: "Successfully DISBALED ConsentID 20 : Card Number Removed"
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # Charge Stored Card with Options

  /APIcardProcREST/v1.0.0/ConsentAnnual/ChargeStoredCard:
    post:
      summary: Charge a stored card
      operationId: chargeStoredCard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ConsentID:
                  type: integer
                  example: 8
                  description: ID of the consent (or stored card data)
                Amounts:
                  $ref: "#/components/schemas/Amounts"
                purchDetails:
                  $ref: "#/components/schemas/Items"
                AlternateMerchID:
                  type: integer
                  example: 0
                  description: Use 0 for the original merchant record or a positive integer for a different merchant record
                User:
                  type: string
                  example: "Samuel"
                  description: The user initiating the sale. Used for reporting.
      responses:
        "200":
          description: Successful charge of the stored card
          content:
            application/json:
              schema:
                type: object
                properties:
                  ConsentAnnual_ChargeStoredCardResult:
                    type: object
                    properties:
                      AVSresult:
                        $ref: "#/components/schemas/AVSr"
                      AcquirerResponseEMV:
                        type: string
                        nullable: true
                        example: null
                      CVVresult:
                        $ref: "#/components/schemas/CVVr"
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      IsPartialApproval:
                        type: boolean
                        example: false
                      RequiresVoiceAuth:
                        type: boolean
                        example: false
                      RespMsg:
                        type: string
                        example: "APPROVED OK1400"
                      ResponseApprovedAmount:
                        type: number
                        format: float
                        example: 0
                      ResponseAuthorizedAmount:
                        type: number
                        format: float
                        example: 53.04
                      ResponseBalanceAmount:
                        type: number
                        format: float
                        example: 0
                      TxApproved:
                        type: boolean
                        example: true
                      TxID:
                        type: integer
                        example: 37
                      TxnCode:
                        type: string
                        example: "OK1400"
                      ApprovedAmounts:
                        $ref: "#/components/schemas/Amounts"
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # Create an Annual Consent - Card Present

  /APIcardProcREST/v1.0.0/ConsentAnnual/Create_CP:
    post:
      summary: Create an annual consent with card present
      description: |
        <style>h4{color:red;}</style>
        <h4>For PCI compliant merchants only</h4>
      operationId: createAnnualConsentCP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Track:
                  type: string
                  example: "%B4788250000028291^VISA TEST/GOOD^231010100733000000?;4895390000000013=151210100000733?"
                ConsentCreator:
                  $ref: "#/components/schemas/ConsentCreator"
                AcctHolder:
                  $ref: "#/components/schemas/Person"
                EndCustomer:
                  $ref: "#/components/schemas/Person"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ConsentAnnual_Create_CPResult:
                    type: object
                    properties:
                      ConsentID:
                        type: integer
                        example: 28
                      CreationSuccess:
                        type: boolean
                        example: true
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      PreConsentAuthMessage:
                        type: string
                        example: "APPROVED 095710                 "
                      PreConsentAuthSuccess:
                        type: boolean
                        example: true
                      PreConsentAuthTxID:
                        type: integer
                        example: 84
                      RespMsg:
                        type: string
                        example: "Success : Created Consent ID : 000028"
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # Create an Annual Consent - Manual Entry

  /APIcardProcREST/v1.0.0/ConsentAnnual/Create_MAN:
    post:
      summary: Create an annual consent with manual card entry
      description: |
        <style>h4{color:red;}</style>
        <h4>For PCI compliant merchants only</h4>
      operationId: createAnnualConsentMAN
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ccCardInfo:
                  $ref: "#/components/schemas/CreditCardInfo"
                ConsentCreator:
                  $ref: "#/components/schemas/ConsentCreator"
                AcctHolder:
                  $ref: "#/components/schemas/Person"
                EndCustomer:
                  $ref: "#/components/schemas/Person"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ConsentAnnual_Create_MANResult:
                    type: object
                    properties:
                      ConsentID:
                        type: integer
                        example: 18
                      CreationSuccess:
                        type: boolean
                        example: true
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      PreConsentAuthMessage:
                        type: string
                        example: "APPROVED 297311                 "
                      PreConsentAuthSuccess:
                        type: boolean
                        example: true
                      PreConsentAuthTxID:
                        type: integer
                        example: 61
                      RespMsg:
                        type: string
                        example: "Success : Created Consent ID : 000018"
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # Modify Annual Consent

  /APIcardProcREST/v1.0.0/ConsentAnnual/Modify:
    post:
      summary: Modify an annual consent
      operationId: modifyConsent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ConsentID:
                  type: integer
                  example: 10
                  description: ID of the consent to be modified
                ConsentMods:
                  $ref: "#/components/schemas/ConsentMods"
      responses:
        "200":
          description: Successful modification of annual consent
          content:
            application/json:
              schema:
                type: object
                properties:
                  ConsentAnnual_ModifyResult:
                    type: object
                    properties:
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      ModifySuccess:
                        type: boolean
                        example: true
                      RespMsg:
                        type: string
                        example: "Success : Modified Consent ID : 10"
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # Process Annual Consent Payment

  /APIcardProcREST/v1.0.0/ConsentAnnual/ProcPayment:
    post:
      summary: Process a payment using a stored card consent
      operationId: processConsentPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ConsentID:
                  type: integer
                  example: 21
                  description: ID of the consent to be used for payment
                ProcessAmount:
                  type: number
                  format: float
                  example: 5.0
                  description: Amount to be processed
      responses:
        "200":
          description: Successful processing of consent payment
          content:
            application/json:
              schema:
                type: object
                properties:
                  ConsentAnnual_ProcPaymentResult:
                    type: object
                    properties:
                      AVSresult:
                        $ref: "#/components/schemas/AVSr"
                      AcquirerResponseEMV:
                        type: string
                        nullable: true
                        example: null
                      CVVresult:
                        $ref: "#/components/schemas/CVVr"
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      IsPartialApproval:
                        type: boolean
                        example: false
                      RequiresVoiceAuth:
                        type: boolean
                        example: false
                      RespMsg:
                        type: string
                        example: "APPROVED 098853                 "
                      ResponseApprovedAmount:
                        type: number
                        format: float
                        example: -1
                      ResponseAuthorizedAmount:
                        type: number
                        format: float
                        example: -1
                      ResponseBalanceAmount:
                        type: number
                        format: float
                        example: -1
                      TxApproved:
                        type: boolean
                        example: true
                      TxID:
                        type: integer
                        example: 65
                      TxnCode:
                        type: string
                        example: "098853"
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # Annual Consent Process Payment Alternate Merchant

  /APIcardProcREST/v1.0.0/ConsentAnnual/ProcPayment_Alt:
    post:
      summary: Process a payment using a stored card consent with an alternate merchant
      operationId: processConsentPaymentAltMerchant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ConsentID:
                  type: integer
                  example: 542
                  description: ID of the consent to be used for payment
                ProcessAmount:
                  type: number
                  format: float
                  example: 1.0
                  description: Amount to be processed
                AlternateMerchID:
                  type: integer
                  example: 1
                  description: ID of the alternate merchant
      responses:
        "200":
          description: Successful processing of consent payment with alternate merchant
          content:
            application/json:
              schema:
                type: object
                properties:
                  ConsentAnnual_ProcPayment_AltResult:
                    type: object
                    properties:
                      AVSresult:
                        $ref: "#/components/schemas/AVSr"
                      AcquirerResponseEMV:
                        type: string
                        nullable: true
                        example: null
                      CVVresult:
                        $ref: "#/components/schemas/CVVr"
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      IsPartialApproval:
                        type: boolean
                        example: false
                      RequiresVoiceAuth:
                        type: boolean
                        example: false
                      RespMsg:
                        type: string
                        example: "APPROVAL"
                      ResponseApprovedAmount:
                        type: number
                        format: float
                        example: 0
                      ResponseAuthorizedAmount:
                        type: number
                        format: float
                        example: 0
                      ResponseBalanceAmount:
                        type: number
                        format: float
                        example: 0
                      TxApproved:
                        type: boolean
                        example: true
                      TxID:
                        type: integer
                        example: 2875
                      TxnCode:
                        type: string
                        example: "TAS018"
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # Annual Consent Stats

  /APIcardProcREST/v1.0.0/ConsentAnnual/Stats:
    post:
      summary: Retrieve statistics for a specific consent
      operationId: getConsentStats
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ConsentID:
                  type: integer
                  example: 10
                  description: ID of the consent for which to retrieve statistics
      responses:
        "200":
          description: Successfully retrieved consent statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  ConsentAnnual_StatsResult:
                    type: object
                    properties:
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      RespMsg:
                        type: string
                        example: "Successfully Returned Stats For Consent ID : 10"
                      Stats:
                        type: object
                        properties:
                          FirstChargeAttempt:
                            $ref: "#/components/schemas/Date"
                          ID:
                            type: integer
                            example: 10
                            description: Unique identifier for the consent
                          IsEnabled:
                            type: boolean
                            example: false
                            description: Indicates whether the consent is currently enabled
                          LastChargeAmount:
                            type: number
                            format: float
                            example: 0
                            description: Amount of the last charge attempted
                          LastChargeAttempt:
                            $ref: "#/components/schemas/Date"
                          LastSettledAmount:
                            type: number
                            format: float
                            example: 0
                            description: Amount of the last settled transaction
                          LimitLifeTime:
                            type: number
                            format: float
                            example: 100000.0000
                            description: Lifetime $ limit for the consent
                          NumChargeAttempts:
                            type: integer
                            example: 0
                            description: Total number of charge attempts made for this consent
                          NumFailed:
                            type: integer
                            example: 0
                            description: Number of failed transactions associated with this consent
                          NumFailedAttempts:
                            type: integer
                            example: 0
                            description: Number of failed charge attempts
                          NumOpen:
                            type: integer
                            example: 0
                            description: Number of open transactions related to this consent
                          NumSettled:
                            type: integer
                            example: 0
                            description: Number of settled transactions for this consent
                          NumTx:
                            type: integer
                            example: 0
                            description: Total number of transactions processed under this consent
                          RemainingInConsent:
                            type: number
                            format: float
                            example: 100000.0000
                            description: Remaining $ balance available under the consent
                          TotalDollarsOpen:
                            type: number
                            format: float
                            example: 0
                            description: Total $ amount of open transactions
                          TotalDollarsSettled:
                            type: number
                            format: float
                            example: 0
                            description: Total $ amount of settled transactions
        parameters:
          - $ref: "#/components/parameters/SessKey"
          - $ref: "#/components/parameters/ContentType"
          - $ref: "#/components/parameters/Accept"

  # Cancel Recurring Consent

  /APIcardProcREST/v1.0.0/ConsentRecurring/Cancel:
    post:
      summary: Cancel a recurring consent
      operationId: cancelRecurringConsent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ConsentID:
                  type: integer
                  example: 23
                  description: ID of the consent to be cancelled
      responses:
        "200":
          description: Recurring consent successfully cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  ConsentRecurring_CancelResult:
                    type: object
                    properties:
                      CancelSuccess:
                        type: boolean
                        example: true
                      CancelledConsentID:
                        type: integer
                        example: 23
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      RespMsg:
                        type: string
                        example: "Successfully DISBALED ConsentID 23 : Card Number Removed"
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # Create Recurring Consent Manual

  /APIcardProcREST/v1.0.0/ConsentRecurring/Create:
    post:
      summary: Create a recurring consent with manual card entry
      description: |
        <style>h4{color:red;}</style>
        <h4>For PCI compliant merchants only</h4>
      operationId: createRecurringConsentManual
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ccCardInfo:
                  $ref: "#/components/schemas/CreditCardInfoWithTrack"
                ConsentCreator:
                  type: object
                  properties:
                    MerchID:
                      type: integer
                      example: 1
                    CustomerRefID:
                      type: string
                      example: "A123456"
                    ServiceDescrip:
                      type: string
                      example: ""
                    RPGUID:
                      $ref: "#/components/schemas/RPGUID"
                    StartDate:
                      $ref: "#/components/schemas/Date"
                    NumPayments:
                      type: integer
                      example: 10
                    TotalAmount:
                      type: number
                      format: float
                      example: 10000.0
                    Period:
                      type: integer
                      example: 2
                AcctHolder:
                  $ref: "#/components/schemas/Person"
                EndCustomer:
                  $ref: "#/components/schemas/Person"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  ConsentRecurring_CreateResult:
                    type: object
                    properties:
                      ConsentID:
                        type: integer
                        example: 22
                      CreationSuccess:
                        type: boolean
                        example: true
                      ErrCode:
                        $ref: "#/components/schemas/ErrCode"
                      ErrMsg:
                        $ref: "#/components/schemas/ErrMsg"
                      FunctionOk:
                        $ref: "#/components/schemas/FunctionOk"
                      MySched:
                        type: array
                        items:
                          type: object
                          properties:
                            Remaining:
                              type: number
                              format: float
                              example: 9000.00
                            SchedID:
                              type: integer
                              example: 41
                            paymentAmt:
                              type: number
                              format: float
                              example: 1000.00
                            paymentDate:
                              $ref: "#/components/schemas/Date"
                            paymentNo:
                              type: integer
                              example: 1
                      PreConsentAuthMessage:
                        type: string
                        example: "APPROVED 298734                 "
                      PreConsentAuthSuccess:
                        type: boolean
                        example: true
                      PreConsentAuthTxID:
                        type: integer
                        example: 66
                      RespMsg:
                        type: string
                        example: "Success : Created Recurring Consent ID : 000022"
      parameters:
        - $ref: "#/components/parameters/SessKey"
        - $ref: "#/components/parameters/ContentType"
        - $ref: "#/components/parameters/Accept"

  # Modify Recurring Consent

  /APIcardProcREST/v1.0.0/ConsentRecurring/Modify:
    post:
      summary: Modify a recurring consent
      operationId: modifyRecurringConsent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ConsentID:
                  type: integer
                  example: 42
                  description: ID of the consent to be modified
                ConsentMods:
                  type: object
                  properties:
                    ExpMonth:
                      type: integer
                      example: 10
[...]
